<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Registration unemployed</title>
</head>
<body>
    <h1>Registration unemployed</h1>
    <br/>
    <h4>Enter your details</h4>
    <form method="post">
        <label>Name:
            <input type="text" name="name" required data-validation-required-message="Please enter your name">
            <br/>
        </label>
        <label>Surname:
            <input type="text" name="surname" required data-validation-required-message="Please enter your surname">
            <br />
        </label>
        <label>Patronymic:
            <input type="text" name="patronymic" required data-validation-required-message="Please enter your patronymic">
            <br />
        </label>
        <label>Age:
            <input type="text" name="age" required data-validation-required-message="Please enter your age">
            <br />
        </label>
        <label>Email:
            <input type="email" name="email" required data-validation-required-message="Please enter your email">
            <br />
        </label>
        <button type="submit">Registration citizen</button>
    </form>
</body>
</html>