<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Registration unemployed</title>
</head>
<body>
    <h1>Registration unemployed</h1>
    <form method="post">
        <label>Name:
            <input type="text" name="name"><br />
        </label>
        <label>Surname:
            <input type="text" name="surname"><br />
        </label>
        <label>Patronymic:
            <input type="text" name="patronymic"><br />
        </label>
        <label>Age:
            <input type="text" name="age"><br />
        </label>
        <button type="submit">Registration citizen</button>
    </form>
</body>
</html>